{% extends "base.html" %}
{% block content %}
<h1><a href=#>{{ news.title }}</a></h1>
		<p>{{ news.posted_date|date:" d.m.Y " }}</p>
		<p>{{ news.text|safe }}</p>
		{% for image in news.pictures.all %}
            <center><img src="{{ STATIC_URL|cut:"static/" }}{{image|cut:"blog/" }}" height=400 alt="" class="center" /></center><br>
            {{ image.title }}<br><br>
        {% endfor %}
        <br><br><b>Komentarze:</b><br><br>
        {% for note in all_notes %}
        {% ifequal note.post_id.id news.id %}
            <br> {{ note.text }}
            <h6><i>Dodany przez użytkonika {{ note.author }} {{ note.posted_date|date:"d E Y "}} o godzinie {{ note.posted_date|date:" H:i " }}</i></h6>
        {% endifequal %}
    {% endfor %}<br>
    <form method="post" class="form-horizontal" role="form">
		{% csrf_token %}
        <div class="form-group">
            <textaera>{{ form.text }}</textaera>
            {{ form.author }}
            <input value="{{ news.id }}"/>

        </div>
        <div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Dodaj</button>
			</div>
		</div>
</form>

{% endblock %}