{% extends "base.html" %}
{% block content %}
<h3>...czyli jak ciężka jest droga do zdobycia tego tytułu;)</h3><br><br>
{% for entry in news_list %}
    <h1><a href="{% url "news-detail" entry.slug %}">{{ entry.title }}</a> - {{entry.posted_date}}</h1>
    <h4>{{ entry.text|safe|truncatewords:50 }} <a href="{% url "news-detail" entry.slug %}#content">[czytaj dalej]</a><br>
    <h4><h5>Dodano {{entry.posted_date}} przez użytkownika {{entry.author}}</h5>
        {% for image in entry.pictures.all %}
            <a href="{{ STATIC_URL|cut:"static/" }}{{image|cut:"blog/" }}" data-lightbox="{{ image.title }}" data-title="{{ image.title }} - zdjęcie z {{ image.date }}">
            <img src="{{ STATIC_URL|cut:"static/" }}{{image|cut:"blog/" }}" height=120 alt="" class="center" /></a>&nbsp
        {% endfor %}<br><br>
        <a href="{% url "news-detail" entry.slug %}#comments">Komentarze: ({{ entry.notetopost_set.all.count }})</a><br><br><hr>

{% endfor %}
    <div>
        {% if is_paginated %}
   			 {% if page_obj.has_next %}
                 <p align="right"><a align="right" href="{% url "news-list" page_obj.next_page_number %}">starsze--></a></p>
			{% endif %}
		    {% if page_obj.has_previous %}
        		<p align="left"><a href="{% url "news-list" page_obj.previous_page_number %}"><--nowsze</a></p>
            {% endif %}
		{% endif %}
    </div>
{% endblock %}