{% extends "base.html" %}
{% block content %}
<h1><a href=#>{{ news.title }}</a></h1>
		<p>{{ news.posted_date|date:" d.m.Y " }}</p>
		<p>{{ news.text|safe }}</p>
		{% for image in news.pictures.all %}
			<center><img src="{{ STATIC_URL|cut:"static/" }}{{image|cut:"blog/" }}" height=400 alt="" class="center" /></center><br>
			{{ image.title }}<br><br>
		{% endfor %}
		<br><br><b>Komentarze:</b><br><br><ol>
		{% for note in news.notetopost_set.all %}
            <br><li><b>{{ note.author }}</b> - {{ note.posted_date|date:" H:i " }}, {{ note.posted_date|date:"d E Y "}}
			<br> {{ note.text }}</li>
        {% empty %}
			Nie dodano jeszcze komentarzy
		{% endfor %}</ol><br>
	<form method="post" class="form-horizontal" role="form">
		{% csrf_token %}
		<div class="form-group">
			<div>
				Treść:<br>
                <textaera>{{ form.text }}</textaera>
				{% for error in form.text.errors %}
					{{ error }}
				{%  endfor %}
			</div>
			<div>
				Autor:<br>
                {{ form.author }}
				{% for error in form.author.errors %}
					{{ error }}
				{%  endfor %}
			</div>
			<div>
				<input id="id_post_id" value="{{ news.id }}" name="post_id" hidden="hidden"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<br><button type="submit" class="btn btn-default">Dodaj komentarz</button>
			</div>
		</div>
</form>

{% endblock %}
