{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<h3>...czyli jak ciężka jest droga do zdobycia tego tytułu;)</h3><br><br>
    <p>25-letni inżynier budownictwa, emerytowany instruktor aikido i zamiłowany odkrywca nowych miejsc. Z zamiłowania
    również designer prostych stron internetowych.
    Blog zacząłem prowadzić jak na naszej działce zaczęło się sporo zmieniać. Zebrałem wszystkie archiwalne zdjecia,
    jakie udało mi się zgromadzić i tak zaczęło się rejestrowanie każdego wyczynu na działce. Ta praca pozwala się
    oderwać od codziennych obowiązków. Poza tym bardzo lubię, jak widać dużo efektów włożonej pracy. Kilka chwil na
    działce pozwala zapomnieć o wszystkich problemach dnia codziennego.</p><br><br>
    <p>Zapraszam do kontaktu. Namiary w zakładce kontakt.</p><br><br>
    <img src="{% static 'images\aikido.jpg' %}" alt="" width="700"><br><br>
    <img src="{% static 'images\tener.jpg' %}" alt="" width="700"><br><br>
    <img src="{% static 'images\budowa.jpg' %}" alt="" width="700">
{% endblock %}